body {
    background: $color-near-black url("#{$image-dir}congruent_outline.png") repeat 0 0;
	color: $text-color;
	font-family: $font-family;
	font-size: $base-font-size;
	margin: 0;
	padding: 0;
}

a {
    color: $color-link;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $color-hover-link;
    }
}


ol,ul,h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 2em;
    margin-bottom: 0.5em;

    span {
        font-weight: normal;
    }
}

h2 {
    font-size: 1.5;
    font-weight: 400;
}

@media #{$media-sm}, #{$media-med} {
    body {
        font-size: 14px;
    }
}