$media-sm: "(max-width: 544px)";
$media-med: "(min-width: 545px) and (max-width: 799px)";
$media-lg: "(min-width: 800px) and (max-width: 1299px)";
$media-xl: "(min-width: 1300px)";

/* debug breakpoints */
// @media #{$media-sm} {
//     body {
//         background: yellow !important;
//     }
// }

// @media #{$media-med} {
//     body {
//         background: orange !important;
//     }
// }

// @media #{$media-lg} {
//     body {
//         background: red !important;
//     }
// }

// @media #{$media-xl} {
//     body {
//         background: purple !important;
//     }
// }