@mixin btn-gradient($color1: #ededed, $color2: #dfdfdf) {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $color1), color-stop(1, $color2));
    background: -moz-linear-gradient(top, $color1 5%, $color2 100%);
    background: -webkit-linear-gradient(top, $color1 5%, $color2 100%);
    background: -o-linear-gradient(top, $color1 5%, $color2 100%);
    background: -ms-linear-gradient(top, $color1 5%, $color2 100%);
    background: linear-gradient(to bottom, $color1 5%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=0);
    background-color: $color1;
}

@mixin transition($target: all, $speed: $animation-speed, $ease: ease) {
	-moz-transition: $target $speed $ease;
	-webkit-transition: $target $speed $ease;
	transition: $target $speed $ease;
}