$image-dir: '/public/img/';
$fa-font-path: '/public/fonts/font-awesome';
$font-family: 'Raleway', 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;

$color-light-grey: #CCC;
$color-grey: #858484;
$color-near-white: #F8F8F8;
$color-near-black: #161515;

$color-light-blue: #3288e6; //default to match vex plugin skin for now.
$color-dark-blue: #20245E;
$color-green: #245A27;
$color-red: #A02323;

$color-link: $color-light-blue;
$color-hover-link: lighten($color-light-blue, 20%);

$text-color: $color-dark-blue;

$base-font-size: 16px;

$content-width: 650px;

$animation-speed: 200ms;