.board {
    background: $color-near-white;
    min-height: 44em;
    float: left;
    width: 100%;
    padding: 0 0 1em 0;
}

.headline {
    text-align: center;
    margin: 1em 0 0.5em;
}

@media #{$media-sm}, #{$media-med} {
	body {
		font-size: 14px;
	}

	.headline {
		text-align: left;

		span {
			display: block;
		}
	}

	.board {
		width: calc(100% - 2em);
		min-height: auto;
		padding: 0 1em 3em;
		border-bottom: 3px solid #666;
	}
}