.deck {
    margin: 6em auto 0;
    width: $content-width;
    text-align: center;
}

.deck__item {
    float: left;
    margin-right: 1em;
}

.deck__card {
    background: $color-grey-0;
    display: block;
    width: 200px;
    height: 278px;
    border: 2px solid #CCC;
    border-radius: 10px;
    margin: 0 auto 0.5em;
    box-sizing: border-box;

    .card {
        display: none;
    }

    label {
        display: block;
        font-size: 0.9em;
        color: $color-grey-6;
        margin-top: 124px;
        text-shadow: 1px 1px 1px #FFF;
    }
}

.deck__card--discard-pile--has-card {
    border: 0;

    .card {
        display: block;
    }

    label {
        display: none;
    }
}

.deck__card-img {
    width: 200px;
    max-width: 100%;
    height: auto;
    line-height: 5;
}

.deck__card--draw-pile {
    @include transition();

    border: 2px solid $color-dark-blue;
    box-shadow: 2px 1px 1px #ccc;

    &:hover {
        background: rgba($color-light-blue, 0.25);
        border-color: $color-light-blue;
    }
}

.deck-card-back {
    background: #FFF url("#{$image-dir}card-backs/dark-blue.png") repeat 0 0;
    background-size: cover;
    height: 258px;
    width: 180px;
    margin: auto;
    border-radius: 8px;
    border: 3px solid $color-dark-blue;
    box-shadow: 2px 1px 1px #CCC inset;
    margin-top: 5px;
    position: relative;

    .body--game-over & {
        background: #FFF;
    }
}

.points-otl--lg {
    color: $color-grey-6;
    margin: 50px 0 0 0;
    background: $color-grey-0;
    border: 2px solid #FFF;
    outline: 1px solid $color-grey-2;
    //absolutely position to stop jumping around when values change.
    position: absolute;
    height: 130px;
    width: 185px;
    padding-top: 2em;

    span, a {
        text-transform: uppercase;
        font-size: 0.9em;
    }

    a {
        color: $color-grey-6;

        &:hover {
            color: $color-light-blue;
        }
    }

    .points-otl__point-value {
        font-weight: 500;
        color: $color-light-blue;
        display: block;
        font-size: 2.5em;
        padding-bottom: 0.25em;
    }
}

@media #{$media-sm}, #{$media-med} {
    .deck__card {
        margin-left: 0;
    }
}

@media #{$media-sm} {
    .deck {
        margin-left: 0;
        width: auto;
    }

    .deck__card, .deck__card-img {
        width: 120px;
        height: 167px;
        border-radius: 8px;
    }

    .deck__card {
        label {
            display: none;
        }
    }

    .deck-card-back {
        width: 100px;
        height: 147px;
        border-radius: 6px;
    }
}