.deck {
	margin: 10vh auto 0;
	width: 650px;
	text-align: center;
}

.deck__item {
	float: left;
	margin-right: 1em;
}

.deck__card {
	display: block;
	width: 200px;
	height: 278px;
	border: 1px solid #CCC;
	border-radius: 12px;
	margin: auto;
}

.deck__card--discard-pile--has-card {
	border-color: #FFF;
}

.deck__card-img {
	width: 200px;
	max-width: 100%;
	height: auto;
}

.deck__card--draw-pile {
	background: #CCC;
	margin-bottom: 0.5em;
}

.points-otl-wrapper {
	margin: 40% auto;
	border: 1px solid #CCC;
	padding: 2em 1em 3em;
}

.points-otl {
	display: block;
	font-size: 3em;
}