.flash {
	position: absolute;
	width: 100%;
    visibility: hidden;
    margin-top: 27em;

    .body--has-flash & {
    	visibility: visible;
    }
}

.flash__content {
	@include transition(all, 200ms, ease-in-out);
	border: 1px solid rgba(255, 255, 255, 0.68);
	border-radius: 3px;
	box-shadow: 1px 1px 15px #4C4C4C;
	line-height: 2em;
	overflow: hidden;
	height: 0;
	opacity: 0;
	margin: auto;
	width: $content-width;
    max-width: 80%;
    text-align: center;
    background: $color-right;
    font-size: 3em;
    font-weight: bold;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;

    .body--has-flash & {
    	opacity: 1;
    	height: 2em;
    }

    .flash--error & {
    	background: $color-wrong;
    }
}