.guess {
    text-align: center;
}

.guess__info {
    display: none;
    .body--has-flash & {
        visibility: hidden;
    }
}

.guess__question {
    margin-top: 0.5em;
}

.pass-label--disabled {
    opacity: 0.5;
}

.guess__buttons {
    margin-top: 2em;
    label {
        margin: 0 0.5em;
        text-transform: uppercase;
        font-size: 0.9em;
    }
    .button {
        position: relative;
        top: 3px;
        &:active {
            top: 4px;
        }
    }
}

@media #{$media-sm}, #{$media-med} {
    .guess {
        text-align: left;
    }
    .guess__buttons {
        label {
            display: none;
        }
    }
}