.players {
    list-style: none;
    display: block;
    width: 100%;
}

.player {
    width: 50%;
    float: left;

    &:first-of-type .player__details {
        margin-right: 0;
    }
}

.player__name {
    text-align: center;
    font-size: 1.3em;
    margin: 0.5em 0;
    padding: 0;
}

.player__role {
    margin: 0 0 1em 0;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.player__details {
    margin: 1em;
    padding: 1em;
    border: 5px solid rgba(255, 255, 255, 0.34);

    @include transition;

    .player--active & {
        background: $color-1;
        color: #FFF;
    }
}

.player__points {
    border-right: 1px solid #CCC;
    padding-right: 2em;
    position: absolute;
    width: 50px;
    float: left;
    margin: 0.5em 1em;
    text-align: center;

    span {
        padding: 1em 0;
        font-size: 2em;
    }

    em {
        font-style: normal;
        padding-top: 0.25em;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

.active-player-indicator {
    @include transition(all, 600ms, cubic-bezier(0.53, 0.63, 0.245, 0.94));

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 50px 0 50px;
    border-color: $color-near-white transparent transparent transparent;
    left: 22%;
    position: absolute;

    .body--player2-active & {
        left: 72%;
    }
}

@media #{$media-sm}, #{$media-med} {
    .active-player-indicator {
        //would be nice to have from right side in this case instead of hiding.
        display: none;
    }

    .player {
        width: calc(100% - 2em);
        margin: 1em 1em 0;
    }

    .player__details {
        margin: 0;
        border: 0;
    }
}