.players {
    list-style: none;
    display: block;
    width: 100%;
}

.player {
    width: 50%;
    float: left;

    &:first-of-type .player__details {
        margin-right: 0;
    }
}

.player__details {
    margin: 1em;
    padding: 1em;
    border: 1px solid #CCC;
    @include transition();

    .player--active & {
        background: #3D6FA5;
        color: #FFF;
    }
}

.player__points {
    em {
        font-style: normal;
    }
}

.active-player-indicator {
	@include transition(all, 600ms, cubic-bezier(0.530, 0.630, 0.245, 0.940));
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 50px 0 50px;
    border-color: $color-near-white transparent transparent transparent;
    left: 22%;
    position: absolute;

    .body--player2-active & {
        left: 72%;
    }
}