.players {
    list-style: none;
    display: block;
    width: 100%;
}

.player {
    width: 50%;
    float: left;

    &:first-of-type .player__details {
        margin-right: 0;
    }
}

.player__name {
    text-align: center;
    font-size: 1.3em;
    margin: 0.5em 0;
    padding: 0;
}

.player__role {
    margin: 0 0 1em 0;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.player__hint {
    color: #ccc;
}

.player__details {
    margin: 1em;
    padding: 1em;
    border: 5px solid rgba(255, 255, 255, 0.34);
    color: $color-light-grey;
    a {
        color: $color-light-grey;
    }
    @include transition;

    .player--active & {
        background: $color-light-blue;
        color: #FFF;

        a {
            color: #FFF;
        }
    }
}

.player__points {
    border-right: 1px solid $color-light-grey;
    padding-right: 1em;
    position: absolute;
    float: left;
}

.player__points-inner {
    position: relative;
    text-align: center;
    padding: 0.5em 1em 1em;

    span {
        display: block;
        font-size: 2em;
        .player--highlight-score & {
            //duration/delay/iterations
            animation: 500ms 20ms 2 keyframeAnimation1 ease-out;
        }
    }

    em {
        font-style: normal;
        padding-top: 0.25em;
        font-size: 0.8em;
        text-transform: uppercase;
    }
}

@keyframes keyframeAnimation1 {

    50% {
        padding-top: 6px;
        color: $color-red;
        transform: rotateZ(50deg);
        font-weight: 700;
    }


    100% {
        padding-top: 0;
        color: inherit;
        transform: rotateZ(0deg);
        font-weight: normal;
    }
}

.active-player-indicator {
    @include transition(all, 600ms, cubic-bezier(0.53, 0.63, 0.245, 0.94));

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 50px 0 50px;
    border-color: $color-near-white transparent transparent transparent;
    left: 22%;
    position: absolute;

    .body--player2-active & {
        left: 72%;
    }
}

@media #{$media-sm}, #{$media-med} {
    .active-player-indicator {
        //would be nice to have from right side in this case instead of hiding.
        display: none;
    }

    .player {
        width: calc(100% - 2em);
        margin: 1em 1em 0;
    }

    .player__details {
        margin: 0;
        border: 0;
    }
}